<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ninja Money</title>
    <link rel="stylesheet" href="/static/master.css">
</head>

<body>
    <div class="container">
        <div class="GoldRow">
            <label for="yourGold">Your Gold:</label>
            <input type="number" readonly=True name="yourGold" value="{{session.YourGold}}">
        </div>
        <div class="Action_Row">
            <div class="ActionBox">
                <form class="" action="/process_money" method="post">
                    <p class='actionName'>Farm</p>
                    <p class='goldIncome'>(earns 10 to 20 gold)</p>
                    <input type="hidden" name="building" value="Farm">
                    <button type="submit" name="submit">Find Gold!</button>
                </form>
            </div>
            <div class="ActionBox">
                <form class="" action="/process_money" method="post">
                    <p class='actionName'>Cave</p>
                    <p class='goldIncome'>(earns 5 to 10 gold)</p>
                    <input type="hidden" name="building" value="Cave">
                    <button type="submit" name="submit">Find Gold!</button>
                </form>
            </div>
            <div class="ActionBox">
                <form class="" action="/process_money" method="post">
                    <p class='actionName'>House</p>
                    <p class='goldIncome'>(earns 2 to 5 gold)</p>
                    <input type="hidden" name="building" value="House">
                    <button type="submit" name="submit">Find Gold!</button>
                </form>
            </div>
            <div class="ActionBox">
                <form class="" action="/process_money" method="post">
                    <p class='actionName'>Casino</p>
                    <p class='goldIncome'>(earns -50 to 50 gold)</p>
                    <input type="hidden" name="building" value="Casino">
                    <button type="submit" name="submit">Find Gold!</button>
                </form>
            </div>
        </div>
        <div class="ActivitiesRow">
            <h4>Activities:</h4>
            <form class="" action="/reset" method="post">
                <button type="submit" name="submit">Reset game</button>
            </form>
            <div class="Activities_Box">
                {% for entry in session.actions %}
                {{entry}}<br>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
